# Copiar a backend.hcl (en .gitignore) tras ejecutar bootstrap
bucket         = "uce-lab-tfstate-123456789012-qa"
key            = "qa/terraform.tfstate"
region         = "us-east-1"
use_lockfile = true
encrypt        = true
