# Copiar a backend.hcl (en .gitignore) tras ejecutar bootstrap
bucket         = "uce-lab-tfstate-123456789012-prod"
key            = "prod/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "uce-lab-tflock-prod"
encrypt        = true
