PORT=3003
DB_HOST=localhost
DB_PORT=5437
DB_USERNAME=notifuser
DB_PASSWORD=CHANGE_ME
DB_NAME=notification_service
DB_SSL=false
JWT_SECRET=CHANGE_ME_MIN_32_CHARS
CORS_ORIGIN=*
RABBITMQ_URL=amqp://guest:guest@localhost:5672
NODE_ENV=development
